<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Check the Language</title>
</head>

<body>
    <header>
        <!--A logo is programmatically inserted-->
    </header>
    <main>
        <header>
            <h1>Check the language</h1>
        </header>
        <section>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Enter a word ex. Willkommen">
                <input id="button" type="submit" name="" value="Check" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <section>
            <div id="results"></div>
        </section>
    </main>
    <footer>
        <p>&copy; Copyright 2022, Zhasmina Stoyanova</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>