body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    flex: 2;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 155);
    align-items: center;
}

section{
    max-width: 400px;
    width: 100vw;
    text-align: center;
}

#results {
    margin-top: 20px;
    color: cornsilk;
    font-size: 2rem;
    z-index: 2;
    
}